---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import directus from "../../utils/directus";
import { readItems } from "@directus/sdk";

// Generate a new path for every collection entry
export async function getStaticPaths() {
    return [];
}


// Get the entry directly from the prop on render
const page = Astro.props;

---

<Layout title={page.title} description={page.postDetails.paraOne} image={entry.data.bigImg.src}>
  <main>
    <h1>{page.title}</h1>
    <div set:html={page.content} />
  </main>
</Layout>